node_modules/
.DS_Store
.gitignore
.git
.idea/
.vscode/
.env
.env.example
.env.local
.env.local.example
.env.testing
.env.testing.example
.env.staging
.env.staging.example
.env.production
.env.production.example
.env.development
.env.development.example
.env.preview
.env.preview.example